# Dependencies
node_modules/

# Next.js build outputs and caches
.next/
out/

# Production builds
build/

# Local environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
dev.db
dev.db-journal